body {
    font-family: Roboto, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CARD */
.card {
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    border: 15px solid #1f1f1f;
    border-radius: 50px;
    padding: 50px 20px 64px 20px;
    position: relative;
    overflow: hidden;
}

.card-header {
    margin-bottom: 60px;
}
.card-header:before {
    content: "";
    width: 550px;
    height: 420px;
    background-color: #5288f4;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(30deg) translateX(-96px) translateY(-200px);
    z-index: -999;
}
.card-header:after {
    content: "";
    width: 240px;
    height: 31px;
    background-color: #1f1f1f;
    position: absolute;
    top: 0;
    left: 75px;
    border-radius: 0 0 15px 15px;
}
.card-title {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin-bottom: 34px;
}
.card-karta {
    width: 325px;
    margin: 0 auto;
}
.card-karta img {
    width: 100%;
}
.item {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.item:last-child {
    margin-bottom: 0;
}
.item img {
    margin-right: 25px;
}
.item-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-text p {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
}
.item input {
    display: none;
}
.item label {
    width: 60px;
    height: 32px;
    margin: 0 0 0 auto;
    position: relative;
}
.item label .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    border: 1px solid #dedede;
    cursor: pointer;
    transition: all 0.3s linear;
}
.item label .slider:before {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #dedede;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s linear;
}
input:checked + .slider {
    background-color: #5288f4;
    border-color: #5288f4;
}
input:checked + .slider:before {
    transform: translateX(28px);
    background-color: #fff;
    border-color: #fff;
}
